{{#if images }}
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            {{#each images as |image index|}}
                <li data-target="#carousel-example-generic" data-slide-to="{{index}}"
                    class="{{unless index 'active'}}"></li>
            {{/each}}
        </ol>
        <div class="carousel-inner" role="listbox">
            {{#each images as |image index|}}
                <div class="carousel-item {{unless index 'active'}}">
                    <img src="{{image}}" alt="{{model.name}}" class="img-responsive project-slider-image"/>
                </div>
            {{/each}}
        </div>
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="icon-prev" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="icon-next" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
{{else}}
    <div class="alert alert-info" role="alert">
        No images.
    </div>
{{/if}}