{{yield}}

<div class="form-inline text-right">
    <div class="form-group">
        <label>Filter: </label>
        {{input value=filter class="form-control" id="project-list-filter-input" placeholder="Search..."}}
        <!--<input type="text" class="form-control" id="project-list-filter-input" placeholder="Search...">-->
    </div>
</div>

{{#each visibleProjects as |project|}}
    <div class="media">
        {{#link-to "project" project class='media-left'}}
            <div class="project-list-image media-object" style="background-image: url({{project.image}})"></div>
        {{/link-to}}

        <div class="media-body">
            <h4 class="media-heading">{{#link-to "project" project class='media-left'}}{{project.name}}{{/link-to}}</h4>
            {{project.description}}
        </div>
    </div>
{{/each}}
