{{yield}}

<div class="form-inline text-right-sm m-y-3">
  <div class="form-group">
    <label>Filter: </label>
    {{input value=filter class="form-control" placeholder="Search..."}}
    <!--<input type="text" class="form-control" id="project-list-filter-input" placeholder="Search...">-->
  </div>
</div>

<div class="card-columns">

  {{#each visibleProjects as |project index|}}

      <div class="card">
        {{#link-to "project" project}}
          <img class="card-img-top img-fluid width-100-percents" alt="{{project.name}}" src="{{project.image}}">
        {{/link-to}}
        <div class="card-block">
          <h4 class="card-title">{{project.name}}</h4>
          <p class="card-text">{{project.description}}</p>
          {{#link-to "project" project.id class="card-link" }}Details{{/link-to}}
        </div>
      </div>

  {{/each}}

</div>
