<ol class="breadcrumb">
    <li class="active">Home</li>
</ol>

<h1>My Portfolio</h1>

{{#each model.projects as |project|}}
    <div class="media">
        {{#link-to "project" project class='media-left'}}
            <div class="project-list-image media-object" style="background-image: url({{project.image}})"></div>
        {{/link-to}}

        <div class="media-body">
            <h4 class="media-heading">{{#link-to "project" project class='media-left'}}{{project.name}}{{/link-to}}</h4>
            {{project.description}}
        </div>
    </div>
{{/each}}

<hr>

<h2>Used Technologies</h2>
<ul class="list-inline">
    {{#each model.technologies as |technology|}}
        <li>
            {{#link-to "technology" technology class="label label-success"}}{{technology}}{{/link-to}}
        </li>
    {{/each}}
</ul>


{{outlet}}
