<ol class="breadcrumb">
    <li class="active">Home</li>
</ol>

<h1>Home Page</h1>

<h2>My Projects</h2>
{{#each model.projects as |project|}}
    <div class="media">
        {{#link-to "project" project class='media-left'}}
            <img class="media-object"
                 src="/img/placeholder-64x64.svg"
                 alt="{{project.name}}" width="64">
        {{/link-to}}

        <div class="media-body">
            <h4 class="media-heading">{{#link-to "project" project class='media-left'}}{{project.name}}{{/link-to}}</h4>
            {{project.description}}
        </div>
    </div>
{{/each}}

<hr>

<h2>Used Technologies</h2>
<ul class="list-inline">
    {{#each model.technologies as |technology|}}
        <li>
            <span class="label label-info">{{technology}}</span>
        </li>
    {{/each}}
</ul>


{{outlet}}
