<ol class="breadcrumb">
    <li class="active">Home</li>
</ol>

<h1>Home Page</h1>

<h2>My Projects</h2>
{{#each model.projects as |project|}}
    <div class="media">
        {{#link-to "project" project class='media-left'}}
            <img class="media-object"
                 src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PCEtLQpTb3VyY2UgVVJMOiBob2xkZXIuanMvNjR4NjQKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNTA4MGRlODcwYSB0ZXh0IHsgZmlsbDpyZ2JhKDI1NSwyNTUsMjU1LC43NSk7Zm9udC13ZWlnaHQ6bm9ybWFsO2ZvbnQtZmFtaWx5OkhlbHZldGljYSwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMHB0IH0gXV0+PC9zdHlsZT48L2RlZnM+PGcgaWQ9ImhvbGRlcl8xNTA4MGRlODcwYSI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjNzc3Ii8+PGc+PHRleHQgeD0iMTQuNSIgeT0iMzYuNSI+NjR4NjQ8L3RleHQ+PC9nPjwvZz48L3N2Zz4="
                 alt="{{project.name}}" width="64">
        {{/link-to}}

        <div class="media-body">
            <h4 class="media-heading">{{#link-to "project" project class='media-left'}}{{project.name}}{{/link-to}}</h4>
            {{project.description}}
        </div>
    </div>
{{/each}}


<hr>

<h2>Used Technologies</h2>
<ul class="list-inline">
    {{#each model.technologies as |technology|}}
        <li>
            <span class="label label-info">{{technology}}</span>
        </li>
    {{/each}}
</ul>

{{outlet}}
