<ol class="breadcrumb">
    <li>{{#link-to "index"}}Home{{/link-to}}</li>
    <li class="active">{{model.name}}</li>
</ol>

<h1>{{model.name}}</h1>
<a href="{{model.url}}" target="_blank">{{model.url}}</a>
<figure>
    <img src="{{model.image}}" alt="{{model.name}}"/>
</figure>
<p>
    {{model.description}}
</p>

{{outlet}}
