{{item-header model=model}}

<a href="{{model.url}}" target="_blank">{{model.url}}</a>

<p>
    {{model.description}}
</p>

{{image-slider images=model.images}}

{{#if model.technologies }}
    <hr>

    {{#technology-list technologies = model.technologies}}
        <h3>Used Technologies</h3>
    {{/technology-list}}

{{/if}}


{{outlet}}
