<p class="lead">
  {{#link-to "index" class=""}}
    Back to home page
  {{/link-to}}
</p>
<h2>
  {{model.name}}
</h2>
<div class="my-3">
  {{#each model.technologies as |technology|}}
    <span class="badge badge-pill badge-info mb-1">
      {{technology}}
    </span>
  {{/each}}
</div>
<a href={{model.url}} target="_blank" rel="noopener">
  {{model.url}}
</a>
<p>
  {{model.description}}
</p>
{{#if model.images.length}}
  <div class="my-4">
    <div class="row">
      {{#each model.images as |image|}}
        <div class="col-md-6 px-3 py-3">
          <div class="ma-4">
            <img
              class="img-thumbnail img-fluid"
              alt={{model.name}}
              src={{image}}
             />

          </div>
        </div>
      {{/each}}
    </div>
  </div>
{{/if}}
{{outlet}}
