{{item-header model=model}}

<a href="{{model.url}}" target="_blank">{{model.url}}</a>

<p>
    {{model.description}}
</p>

{{#if model.images.length}}
    {{#bs-carousel
    model=this as |carousel|}}
    {{#each model.images as |image|}}
        {{#carousel.slide}}
        <img alt="{{model.name}}" src='{{image}}' class="img-responsive project-slider-image">
        {{/carousel.slide}}
    {{/each}}
    {{/bs-carousel}}
{{/if}}

{{outlet}}
