<ol class="breadcrumb">
    <li>{{#link-to "index"}}Home{{/link-to}}</li>
    <li class="active">{{model.id}}</li>
</ol>

<p>
    {{#link-to "index" class=""}}&longleftarrow; Back to home page{{/link-to}}
</p>


<h2>{{model.id}}</h2>

<h4 class="text-muted">My projects where {{model.id}} was used</h4>

{{#each model.projects as |project|}}
    <div class="media">
        {{#link-to "project" project class='media-left'}}
            <img class="media-object"
                 src="/img/placeholder-64x64.svg"
                 alt="{{project.name}}" width="64">
        {{/link-to}}

        <div class="media-body">
            <h4 class="media-heading">{{#link-to "project" project class='media-left'}}{{project.name}}{{/link-to}}</h4>
            {{project.description}}
        </div>
    </div>
{{/each}}

{{outlet}}
